USE [master]
GO
/****** Object:  Database [SkarplineEE6]    Script Date: 01/13/2015 17:50:38 ******/
CREATE DATABASE [SkarplineEE6] ON  PRIMARY 
( NAME = N'SkarplineEE6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.VARIANCESQL\MSSQL\DATA\SkarplineEE6.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SkarplineEE6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.VARIANCESQL\MSSQL\DATA\SkarplineEE6_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SkarplineEE6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SkarplineEE6]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 01/13/2015 17:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConnectedUser]    Script Date: 01/13/2015 17:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConnectedUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[ConnectionId] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ConnectedUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 01/13/2015 17:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[SenderId] [nvarchar](50) NOT NULL,
	[ReciverId] [nvarchar](50) NOT NULL,
	[Msg] [nvarchar](500) NOT NULL,
	[OnCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_UserInfo_CreatedOn]    Script Date: 01/13/2015 17:50:40 ******/
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_CreatedOn]  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_Chats_OnCreated]    Script Date: 01/13/2015 17:50:40 ******/
ALTER TABLE [dbo].[Chats] ADD  CONSTRAINT [DF_Chats_OnCreated]  DEFAULT (getutcdate()) FOR [OnCreated]
GO
