<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="filepath" value="D:\FSW\"/>
    <add key="filename" value="newsite"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="File TTF" path="*.ttf" verb="*" modules="StaticFileModule" resourceType="Unspecified" requireAccess="Script"/>
      <add name="File SVG" path="*.svg" verb="*" modules="ServerSideIncludeModule" resourceType="Unspecified"/>
      <add name="File EOT" path="*.eot" verb="*" modules="ServerSideIncludeModule" resourceType="Unspecified" requireAccess="Script"/>
      <add name="File HTML" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="Unspecified"/>
      <add name="File INC" path="*.inc" verb="*" modules="ServerSideIncludeModule" resourceType="Unspecified"/>
    </handlers>
    <!-- <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>-->
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>